			<h3><span>教师 <span>★</span> Instructors</span></h3>
			<!-- style 1 -->
			<a id='cs_link_ct1'></a>
			<div class="cs_teacher">
				<div class="cs_teacher_icon">
					<a href=""><img src="images/ct.jpg" alt=""></a>
				</div>
				<div class="cs_teacher_info">
					<a href=""><h3>Gaetano Borriello</h3></a>
					<a href=""><h4>his courses <span>&#8594;</span></h4></a>
					<hr>
					<span>Jerre D. Noe Professor
					Computer Science & Engineering</span>
				</div>
				<div class="cs_teacher_gallery cs_teacher_gallery_large">
					<a href=""><img src="images/hctp2.png" alt="">
					<span>
						<div><h3>course 1</h3></div>
					</span>
					</a>
				</div>
					<div class="cs_teacher_gallery cs_teacher_gallery_small_left left">
					<a href=""><img src="images/ctp1.jpg" alt="">
						<span>
							<div><h3>course 2</h3></div>	
						</span>
					</a>
				</div>
					<div class="cs_teacher_gallery cs_teacher_gallery_small_right left">
					<a href=""><img src="images/ctp.jpg" alt="">
						<span>
							<div><h3>course 3</h3></div>	
						</span>
					</a>
				</div>
			</div>
			<!-- style 2 -->
			<a id='cs_link_ct2'></a>
			<div class="cs_teacher">
				<div class="cs_teacher_icon">
					<a href=""><img src="images/ct2.jpg" alt=""></a>
				</div>
				<div class="cs_teacher_info">
					<a href=""><h3>Pedro Domingos</h3></a>
					<a href=""><h4>his courses <span>&#8594;</span></h4></a>
					<hr>
					<span>Professor of Computer Science & Engineering</span>
				</div>
				<div class="cs_teacher_gallery cs_teacher_gallery_half_left">
					<a href=""><img src="images/hctp.png" alt="">
					<span>
						<div><h3>course 1</h3></div>
					</span>
					</a>
				</div>
					<div class="cs_teacher_gallery cs_teacher_gallery_small_right left">
					<a href=""><img src="images/ctp1.jpg" alt="">
						<span>
							<div><h3>course 2</h3></div>	
						</span>
					</a>
				</div>
					<div class="cs_teacher_gallery cs_teacher_gallery_small_right left">
					<a href=""><img src="images/ctp2.jpg" alt="">
						<span>
							<div><h3>course 3</h3></div>	
						</span>
					</a>
				</div>
			</div>
			<!-- style 3 -->
			<a id='cs_link_ct3'></a>
			<div class="cs_teacher">
				<div class="cs_teacher_icon">
					<a href=""><img src="images/ct4.jpg" alt=""></a>
				</div>
				<div class="cs_teacher_info">
					<a href=""><h3>Adrienne Fairhall</h3></a>
					<a href=""><h4>her courses <span>&#8594;</span></h4></a>
					<hr>
					<span>Associate Professor Physiology and Biophysics</span>
				</div>
				<div class='cs_teacher_gallery_half_toge'>
				<div class="cs_teacher_gallery cs_teacher_gallery_small_left left">
					<a href=""><img src="images/ctp.jpg" alt="">
						<span>
							<div><h3>course 2</h3></div>	
						</span>
					</a>
				</div>
				<div class="cs_teacher_gallery cs_teacher_gallery_small_left left">
					<a href=""><img src="images/ctp2.jpg" alt="">
						<span>
							<div><h3>course 3</h3></div>	
						</span>
					</a>
				</div>
				</div>
				<div class="cs_teacher_gallery cs_teacher_gallery_half_right">
					<a href=""><img src="images/hctp1.png" alt="">
					<span>
						<div><h3>course 1</h3></div>
					</span>
					</a>
				</div>
			</div>
			<!-- style 4 -->
			<a id='cs_link_ct4'></a>
			<div class="cs_teacher">
				<div class="cs_teacher_icon">
					<a href=""><img src="images/ct3.jpg" alt=""></a>
				</div>
				<div class="cs_teacher_info">
					<a href=""><h3>Matthew Sparke</h3></a>
					<a href=""><h4>his courses <span>&#8594;</span></h4></a>
					<hr>
					<span>JProfessor of Geography and International Studies, Adjunct Professor of Global Health, Director of Online Integrated Social Science Major</span>
				</div>
				<div class="cs_teacher_gallery_overflow">
				<div class="cs_teacher_gallery cs_teacher_gallery_small_left left">
					<a href=""><img src="images/ctp.jpg" alt="">
						<span>
							<div><h3>course 2</h3></div>	
						</span>
					</a>
				</div>
				<div class="cs_teacher_gallery cs_teacher_gallery_small_right left">
					<a href=""><img src="images/ctp1.jpg" alt="">
						<span>
							<div><h3>course 3</h3></div>	
						</span>
					</a>
				</div>
				</div>
				<div class="cs_teacher_gallery cs_teacher_gallery_large">
					<a href=""><img src="images/hctp2.png" alt="">
					<span>
						<div><h3>course 1</h3></div>
					</span>
					</a>
				</div>
				</div>