<div class="informsys_trigger">
             	 <div class="informsys">
             	 	<div class="informsys_date">
             	 		<a class='active informsys_section_link'>今日</a>
             	 		<a class='informsys_section_link'>即日</a>
             	 		<a class='informsys_section_link'>系统</a>
             	 	</div>
             	 	<!-- cal -->
             	 	<div class='informsys_section1'>
             	 	<div class="informsys_cal">
             	 		<div class="informsys_title">
             	 			<span><i class="icon-calendar"></i>日程安排</span>
             	 			<span class="closemark" title='隐藏日程通知'>×</span>
             	 		</div>
             	 		<hr>
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event blue">
             	 			<p> <span> 2013.07.06 全天 系统 </span>今日应完成习题集：我的习题集一<span class='right' title='点击设置提醒'>无提醒</span></p>
             	 		</div>
             	 		</a>
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event red">
             	 			<p> <span> 2013.07.05 15:00~17:00 考试 </span> 今天下午英语有一场考试<span class='right' title='点击更改提醒'>14:00 系统提醒</span></p>
             	 		</div>
             	 		</a>	
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event green">
             	 			<p> <span> 2013.07.06 18:00~19:00 学习 </span>安排复习英语SAT生词<span class='right' title='点击设置提醒'>无提醒</span></p>
             	 		</div>
             	 		</a>
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event orange">
             	 			<p> <span> 2013.07.06 2000~21:30 紧急 </span>参加某某生日派对<span class='right' title='点击更改提醒'>20:00 系统提醒</span></p>
             	 		</div>
             	 		</a>
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event grey">
             	 			<p> <span> 2013.07.06 2000~21:30 其他</span>或者不去参加某某生日派对<span class='right' title='点击更改提醒'>20:00 系统提醒</span></p>
             	 		</div>
             	 		</a>
             	 	</div>
             	 	<!-- hot -->
             	 	<div class="informsys_hot">
				<div class="informsys_title">
             	 			<span><i class="icon-fire"></i>今日热门</span>
             	 		</div>
             	 		<hr>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event blue">
             	 			<p> <span>英语 SAT 由Fang Wei 创建</span>223人参与评论 1254人订阅<span class='right' title='点击订阅该习题集'>快速订阅</span></p>
             	 		</div></a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event blue ">
             	 			<p> <span>数学 SAT 由Andy 创建</span>223人参与评论 1254人订阅<span class='right' title='点击订阅该习题集'>快速订阅</span></p>
             	 		</div></a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event blue">
             	 			<p> <span>英语 SAT 由Shanti 创建</span>223人参与评论 1254人订阅<span class='right' title='点击订阅该习题集'>快速订阅</span></p>
             	 		</div>
             	 		</a>
             	 	</div>
             	 	<!-- note -->
             	 	<div class="informsys_note">
				<div class="informsys_title">
             	 			<span><i class="icon-edit"></i>我的笔记</span>
             	 			<span class="closemark" title='隐藏日程通知'>×</span>
             	 		</div>
             	 		<hr>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event green">
             	 			<p> <span>2013.05.17</span>canjlkdalskdj<span class='right' title='点击查看'>查看</span></p>
             	 		</div></a>
             	 		<a href=""class="informsys_link">
             	 		<div class="informsys_event green" >
             	 			<p> <span>2013.05.27</span>canjlkdalskdj<span class='right' title='点击查看'>查看</span></p>
             	 		</div></a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event green">
             	 			<p> <span>2013.06.17</span>等你撒思考的法律撒谎<span class='right' title='点击查看'>查看</span></p>
             	 		</div>
             	 		</a>
             	 	</div>
             	 		<!-- note -->
             	 	<div class="informsys_vocab">
				<div class="informsys_title">
             	 			<span><i class="icon-book"></i>我的生词</span>
             	 			<span class="closemark" title='隐藏日程通知'>×</span>
             	 		</div>
             	 		<hr>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event v4">
             	 			<p> <span>2013.06.17 CET-4</span>四级生词<span class='right' title='点击开始复习'>开始复习</span></p>
             	 		</div></a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event v6">
             	 			<p> <span>2013.06.17 CET-6</span>六级生词<span class='right' title='点击开始复习'>开始复习</span></p>
             	 		</div></a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event vg">
             	 			<p> <span>2013.06.17 高考</span>高考生词<span class='right' title='点击开始复习'>开始复习</span></p>
             	 		</div>
             	 		</a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event vs">
             	 			<p> <span>2013.06.17 SAT</span>SAT生词<span class='right' title='点击开始复习'>开始复习</span></p>
             	 		</div>
             	 		</a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event vgre">
             	 			<p> <span>2013.06.17 GRE</span>GRE生词<span class='right' title='点击开始复习'>开始复习</span></p>
             	 		</div>
             	 		</a>
             	 		<a href="" class="informsys_link">
             	 		<div class="informsys_event vi">
             	 			<p> <span>2013.06.17 IELTS</span>IELTS生词<span class='right' title='点击开始复习'>开始复习</span></p>
             	 		</div>
             	 		</a>
             	 	</div>
             	 	</div>
             	 	<!-- end of section1 -->
             	 	<div class='informsys_section2'>
             	 		
             	 	</div>
             	 	<!-- end of section2 -->
			<div class='informsys_section3'>
				<!--<div class="informsys_sys">
				 <div class="informsys_setting">
				<div class="informsys_title">
             	 			<span><i class="icon-cog"></i>系统设置</span>
             	 			<span class="closemark" title='隐藏日程通知'>×</span>
             	 		</div>
             	 		<hr>
				<form action="" class='clearall'><input type="text">
					<a class="searchnode_submit" title="点击搜索"></a>
				</form>
				<hr>
			             </div> -->
			             <div class="informsys_sys">
             	 		<div class="informsys_title">
             	 			<span><i class="icon-cogs"></i>系统通知</span>
             	 			<span class="closemark" title='隐藏日程通知'>×</span>
             	 		<hr>
             	 		</div>
             	 		
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event blue">
             	 			<p> <span> 7. 6 17:12</span>某某操作成功<span class='right' title='点击查看'>查看</span></p>
             	 		</div>
             	 		</a>
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event blue">
             	 			<p> <span> 7. 6 14:00 </span> 某某操作成功<span class='right' title='点击查看'>查看</span></p>
             	 		</div>
             	 		</a>	
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event blue">
             	 			<p> <span> 7. 6 11:00 </span>某某操作成功<span class='right' title='点击查看'>查看</span></p>
             	 		</div>
             	 		</a>
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event blue">
             	 			<p> <span> 7. 5 12:00</span>某某操作成功<span class='right' title='点击查看'>查看</span></p>
             	 		</div>
             	 		</a>
             	 		<a class="informsys_link" href="">
             	 		<div class="informsys_event blue">
             	 			<p> <span>  7. 5 11:00</span>某某操作成功<span class='right' title='点击查看'>查看</span></p>
             	 		</div>
             	 		</a>
             	 		</div>
			</div>
			<!-- end of section3 -->
             	 </div>
             	 <!-- end of inner -->
             </div>      