{% extends "structure.html" %}

{% block title %}当前习题{% endblock %}

{% block main %}
<!--<div class="g12">
	<div class="viewmode">				
		<div class="chooseviewmode g12">
	
			<a class="active" id="photoview">视图模式</a>
			<a  id="listview">列表模式</a></div>     
			<div class="g12 setphotoview setpicview">  
				<div class="halfcol">
				<div class="halfcol">
				{# place the viewmodeitem #}
				</div>
				<div class="halfcol">
				{# place the viewmodeitem #}
				</div>
				</div>
				<div class="halfcol">
				<div class="halfcol">
				{# place the viewmodeitem #}
				</div>
				<div class="halfcol">
				{# place the viewmodeitem #}
				</div>
				</div>
	
		</div>-->
		<!--<div class="g12 setphotoview setlistview">  
			<!--<div class="listviewcontainer">-->
			{% include "set_item.html" %}
			<!--</div>->
		</div>
	<!--</div>-->
{% endblock %}

