	<div class="problem-info">
	             <span>已完成15%，用时0:15,您将做第道，推荐用时15分钟</span>
	            <div class="progress progress-striped active progress-info">
	  	<div class="bar"></div>	
		</div>    
	</div>  
	<!--note-->
	<div class="do-problem-note do">	
		<input type='hidden' id='qsid' value='{{question_set.container.id}}' /> 	
		<input type='hidden' id='noteid' value='0' />
		<textarea type="text" id="notebody" name="notes" placeholder="记上一笔" cols="30" rows="5"></textarea><a id="note-new">新建</a><a id="note-save">保存</a>
	</div>
