
<div class="node_info">
		<div class="node_info_close"></div>
		<div class="node_info_arrow"></div>
		<a href=""><img src="{{ STATIC_URL }}images/minion.gif" alt=""></a>
		<h3 class="ct_title">平面几何<span>高中>数学>我的知识树1</span><span>难度:中等</span></h3>
		<h3 class="ct_progress">完成: 95%<span>预计完成时间:</span><span>2013.06.15</span></h3>
		   <div class="progress progress-striped  progress-info">
  		<div class="bar" style="width: 95%;"></div>	
		</div>
		<h3 class="ct_set">相关题集:<span>共2个题集</span>	</h3>
		<table>
							<thead>
								<tr>
									<th></th>
									<th>Label 1</th>
									<th>Label 2</th>
									<th>Label 3</th>
									<th>Label 4</th>
									<th>Label 5</th>
									<th>Label 6</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>知识点一</th>
									<td>48</td>
									<td>125</td>
									<td>159</td>
									<td>147</td>
									<td>154</td>
									<td>114</td>
								</tr>
								<tr>
									<th>知识点二</th>
									<td>8</td>
									<td>27</td>
									<td>25</td>
									<td>79</td>
									<td>47</td>
									<td>59</td>
								</tr>
								<tr>
									<th>知识点三</th>
									<td>28</td>
									<td>56</td>
									<td>98</td>
									<td>112</td>
									<td>87</td>
									<td>26</td>
								</tr>
								<tr>
									<th>知识点四</th>
									<td>38</td>
									<td>43</td>
									<td>69</td>
									<td>54</td>
									<td>16</td>
									<td>16</td>
								</tr>
								<tr>
									<th>知识点五</th>
									<td>38</td>
									<td>43</td>
									<td>69</td>
									<td>54</td>
									<td>16</td>
									<td>16</td>
								</tr>
								<tr>
									<th>知识点六</th>
									<td>38</td>
									<td>43</td>
									<td>69</td>
									<td>54</td>
									<td>16</td>
									<td>16</td>
								</tr>
								<tr>
									<th>知识点七</th>
									<td>38</td>
									<td>43</td>
									<td>69</td>
									<td>54</td>
									<td>16</td>
									<td>16</td>
								</tr>
								<tr>
									<th>知识点八</th>
									<td>38</td>
									<td>43</td>
									<td>69</td>
									<td>54</td>
									<td>16</td>
									<td>16</td>
								</tr>
							</tbody>
						</table>
					
	</div>
	<div class="img-drop">
	</div>
