@charset "utf-8";
/* CSS Document */
.zoomButton:hover{
background: #4e86a9;
color:#FFF;

}
.zoomButton{
	margin:10px 0 10px 0px;
padding:5px 5px 5px 5px;
height:20px;
width:20px;
	text-decoration:none;
color: #353535;
float:left;
border-top-color: #ffffff;
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
background: -moz-linear-gradient(top, #f1f1f1, #e8e8e8);
background: -o-linear-gradient(top, #f1f1f1, #e8e8e8);
font-size: 20px;
display: block;
-webkit-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.treeicon{
	text-decoration:none;
color: #353535;
margin-left:80px;
margin-bottom:30px;
margin-top:20px;
float:left;
border-top-color: #ffffff;
width:100px;
height:100px;
font-size: 14px;
display: block;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
}
.treelabel{
	width:837px;
color: #444444;
background: #f1f1f1;
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
background: -moz-linear-gradient(top, #f1f1f1, #e8e8e8);
background: -o-linear-gradient(top, #f1f1f1, #e8e8e8);
border-top: 1px solid #ffffff;
display: block;
font-size: 16px;
margin: 0;
height:30px;
font-weight: 700;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
}
#tree-math{
	float:left;
	position:relative;
	height:28px;
	width:580px;
	
	color:#FFF;
	padding-left:50px;
background:#09C;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;

}
#tree-xx{
	float:left;
	position:relative;
	height:28px;
	width:200px;
	color:#FFF;
	padding-left:50px;
background:#09C;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;

}
#tree-sj{
	float:left;
	position:relative;
	height:28px;
	width:785px;
	color:#FFF;
	padding-left:50px;
background: #3F6;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;

}
#tree-jh{
	float:left;
	position:relative;
	height:28px;
	width:90%;
	color:#FFF;
	padding-left:50px;
background:#09C;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;

}
#tree-js{
	float:left;
	position:relative;
	height:28px;
	width:200px;
	color:#FFF;
	background:#F69;
	width:785px;
	padding-left:50px;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;

}
#tree-english{
	float:right;
	position:relative;
	height:28px;
	width:380px;
	background:#09C;
	color:#FFF;
	padding-left:50px;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
}
#math{
	

}
#kemu{
}
#english{
	
}
.tundone{
	background:#FCF;
}
.tdone{
	background:#6F6;
}
.tprogress{
	background:#09F;
}
.leaftitle{
	position:relative;
	font-size:20px;
	color:#000;
	font-weight:300;
	top:5px;
	left:5px;
	height:25px
}
.undone{
    height:200px;
	position:relative;
}
.done{
    height:200px;
	position:relative;
	background:#06C;
}
#mathdone{
	width:280px;
}

#mathundone{
	width:120px;
}

#englishdone{
	width:220px;
}

#englishundone{
	width:180px;
}
.progress{
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(255, 255, 255, 0.1), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
height:30px;
margin: 9px 0;
border: 1px solid #b2b2b2;
margin-bottom: 15px;
cursor: pointer;
background-repeat: no-repeat;
background-position: 7px 8px;
padding: 10px 10px 10px 35px;
font-size: 14px;
font-weight: 700;
margin: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-color:#a2e8a2;
}
.tree-container{
	background-image: url(images/paper_02.png);
background-color: #f1f1f1;
	width:800px;
	margin-left:3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
font-size: 14px;
padding: 3px 1px;
border: 1px solid #bbbbbb;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 12px 15px;
margin-bottom: 18px;
font-family:"Adobe 黑体 Std R", "Adobe 仿宋 Std R", "微软雅黑", "华文中宋";
}
.tree-container3{
	background-image: url(images/paper_02.png);
background-color: #f1f1f1;
	width:800px;
	margin-left:3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
font-size: 14px;
padding: 3px 1px;
border: 1px solid #bbbbbb;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 12px 15px;
margin-bottom: 18px;
height:450px;
font-family:"Adobe 黑体 Std R", "Adobe 仿宋 Std R", "微软雅黑", "华文中宋";
}